@{
  Layout = "_Layout";
}

@using System.Security.Claims

<h2>Authentication with Identity</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>

    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-default" value="Log out" />
    }
}
else
{
    <p class="btn btn-outline-secondary" role="button" aria-disabled="true">@Html.ActionLink("Register", "Register")</p>
    <p class="btn btn-outline-secondary" role="button" aria-disabled="true">@Html.ActionLink("Log in", "Login")</p>
}